<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Pacientes-PohaRogAPP
    </title>
    <meta name="description" content="Simple landind page" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <style>
        .gradient {
          background: linear-gradient(90deg, #077a6a 0%, #57c3b5 100%);
        }
        .custom-color {
        color: #f97316
      }
    </style>
    </head>
    <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
        <!--Nav-->
        <nav id="header" class="fixed w-full z-30 top-0 text-white">
          <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
            <div class="pl-4 flex items-center">
              <img src="/static/images/logob.png" alt="" class="w-20 h-20">
              <a class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="/">
                PohaRogAPP 
              </a>
            </div>
            <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent p-4 lg:p-0 z-20" id="nav-content">
              <ul class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-3">
                  <a class="inline-block py-2 px-4 text-white font-bold no-underline hover:underline" href="/carga-de-sintomas">Pacientes</a>
                </li>
                <li class="mr-3">
                  <a class="inline-block py-2 px-4 text-white font-bold no-underline hover:underline" href="#">Doctor</a>
                </li>
                <li class="mr-3">
                  <a class="inline-block py-2 px-4 text-white font-bold no-underline hover:underline" href="#">Como funciona</a>
                </li>
                <li class="mr-3">
                  <a class="inline-block py-2 px-4 text-white font-bold no-underline hover:underline" href="#">Beneficios</a>
                </li>
                <li class="mr-3">
                  <a class="inline-block py-2 px-4 text-white font-bold no-underline hover:underline" href="#">Preguntas frecuentes</a>
                </li>
              </ul>
            </div>
          </div>
          <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
        </nav>
        <!--Hero-->
        <div class="pt-24">
          <section class="bg-white border-b py-8">
            <div class="container max-w-5xl mx-auto m-8">
              <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
                  Pacientes 
              </h1>
            
              <div class="w-full mb-4">
                  <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
              </div>
              <h1 class="w-full my-2 text-3xl font-bold leading-tight text-center text-gray-800">
                Toma de datos
              </h1>
              <section class="bg-white border-b py-0">
                <div class="container mx-auto flex  pt-4 pb-12 justify-center">
                  <form class="text-black underline flex flex-col">
                    <label for="submitted-name"> Nombres:</label>
                    <input name="submitted-name" class="border-black border-2 rounded-sm" >

                    <label for="submitted-lastname"> Apellidos:</label>
                    <input name="submitted-lastname" class="border-black border-2 rounded-sm" >

                    <label for="submitted-age"> Edad:</label>
                    <input name="submitted-age" class="border-black border-2 rounded-sm" >
                    
                    <label for="submitted-city"> Ciudad:</label>
                    <input name="submitted-city" class="border-black border-2 rounded-sm" >

                    <label for="submitted-dept"> Departamento:</label>
                    <input name="submitted-dept" class="border-black border-2 rounded-sm" >

                    <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                      Guardar
                    </button>
                  </form>
                </div>
              </section>

              <h1 class="w-full my-2 text-3xl font-bold leading-tight text-center text-gray-800">
                Contanos tus síntomas
              </h1>
              <div class="mx-auto flex justify-evenly self-center">
                <button id="gUMbtn" class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                    Presione para iniciar grabacion 
                </button>
                <div class="text-black mt-10 hidden justify-center" id="texto-recording">
                  <p>Grabando... </p>
                </div>
                <button id='stop' class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                  Parar
                </button>
              </div>
            </div>
            <div class="flex justify-center">
              <div >
                <ul  class="list-unstyled" id='ul'>
                </ul>
                <p class="text-black hidden text-center px-14" id="texto-audio">
                  ¿Queres enviar este audio?
                </p>
              </div> 
            </div>
            
            <div class="mx-auto flex justify-evenly">
              
              <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                Enviar
            </button>
            </div>
           
            <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
          </section>
        </div>  
        
        <!--Footer-->
        <footer class="bg-white">
            <div class="mx-auto px-8">
            <div class="w-full flex flex-col md:flex-row py-6 mr-8">
                <div class="flex-1 text-black justify-center my-auto">            
                    <img src="/static/images/logon.png" alt="" class="w-21 h-21">
                </div>
                <div class="flex-1">
                <p class="uppercase text-gray-500">Contenido del sitio</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="#" class="no-underline hover:underline text-gray-800">Inicio</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="#" class="no-underline hover:underline text-gray-800">Como funciona</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="#" class="no-underline hover:underline text-gray-800">Beneficios</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="#" class="no-underline hover:underline text-gray-800">Testimonios</a>
                    </li>
                </ul>
                </div>
                <div class="flex-1">
                <p class="uppercase text-gray-500">Legal</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="#" class="no-underline hover:underline text-gray-800">Términos y condiciones</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="#" class="no-underline hover:underline text-gray-800">Privacidad</a>
                    </li>
                </ul>
                </div>
                <div class="flex-1">
                <p class="uppercase text-gray-500">Lenguajes</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="#" class="no-underline hover:underline text-gray-800">Español</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="#" class="no-underline hover:underline text-gray-800">Guaraní</a>
                    </li>
                </ul>
                </div>
                <div class="flex-1">
                <p class="uppercase text-gray-500">Compañía</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="#" class="no-underline hover:underline text-gray-800">Penguin Academy</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="#" class="no-underline hover:underline text-gray-800">Contacto</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
        </footer>
      <!-- jQuery if you need it
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    -->




        <script>
            var scrollpos = window.scrollY;
            var header = document.getElementById("header");
            var navcontent = document.getElementById("nav-content");
            var navaction = document.getElementById("navAction");
            var brandname = document.getElementById("brandname");
            var toToggle = document.querySelectorAll(".toggleColour");
      
            document.addEventListener("scroll", function () {
              /*Apply classes for slide in bar*/
              scrollpos = window.scrollY;
      
              if (scrollpos > 10) {
                header.classList.add("gradient");
                navaction.classList.remove("bg-white");
                navaction.classList.add("gradient");
                navaction.classList.remove("text-gray-800");
                navaction.classList.add("text-white");
                //Use to switch toggleColour colours
                for (var i = 0; i < toToggle.length; i++) {
                  toToggle[i].classList.add("text-gray-800");
                  toToggle[i].classList.remove("text-white");
                }
                header.classList.add("shadow");
                navcontent.classList.remove("bg-gray-100");
                navcontent.classList.add("bg-white");
              } else {
                header.classList.remove("bg-white");
                navaction.classList.remove("gradient");
                navaction.classList.add("bg-white");
                navaction.classList.remove("text-white");
                navaction.classList.add("text-gray-800");
                //Use to switch toggleColour colours
                for (var i = 0; i < toToggle.length; i++) {
                  toToggle[i].classList.add("text-white");
                  toToggle[i].classList.remove("text-gray-800");
                }
      
                header.classList.remove("shadow");
                navcontent.classList.remove("bg-white");
                navcontent.classList.add("bg-gray-100");
              }
            });
        </script>
        <script>
            /*Toggle dropdown list*/
            /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/
      
            var navMenuDiv = document.getElementById("nav-content");
            var navMenu = document.getElementById("nav-toggle");
      
            document.onclick = check;
            function check(e) {
              var target = (e && e.target) || (event && event.srcElement);
      
              //Nav Menu
              if (!checkParent(target, navMenuDiv)) {
                // click NOT on the menu
                if (checkParent(target, navMenu)) {
                  // click on the link
                  if (navMenuDiv.classList.contains("hidden")) {
                    navMenuDiv.classList.remove("hidden");
                  } else {
                    navMenuDiv.classList.add("hidden");
                  }
                } else {
                  // click both outside link and outside menu, hide menu
                  navMenuDiv.classList.add("hidden");
                }
              }
            }
            function checkParent(t, elm) {
              while (t.parentNode) {
                if (t == elm) {
                  return true;
                }
                t = t.parentNode;
              }
              return false;
            }
        </script>
        <script src="static/js/audio.js"></script>
    </body>
</html>